* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

body {
    background: #eee;
}

#add_card {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add_card {
    cursor: pointer;
}


#navbar {
    background-color: #212529;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    z-index: 9;
}


#ul-nav {

    list-style: none;
    display: flex;
}

.logo {

    width: 30%;
    display: flex;
    justify-content: center;
    padding: 10px;


}

.logo a {
    text-decoration: none;
    color: white;

}

.logo li i {
    color: #0aad0a;
    font-size: 3rem;
    margin-left: 2rem;

}

.logo li i:hover {
    font-size: 3rem;
    margin-left: 2rem;
}

.logo li h2 {

    font-size: 2.7rem;
    margin-left: 1rem;


}

#contantlogo {

    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    font-size: 1.2rem;

}

#contantlogo li {
    opacity: 0.7;
    color: white;
    transition: 0.5s all;
    cursor: pointer;
}

#contantlogo li span {
    color: white;
    background-color: #0aad0a;

    border-radius: 10px;
}


#contantlogo #homes {
    color: white;
    opacity: 1;
}

#contantlogo li:hover {
    color: white;
    opacity: 1;
}


.iconlogo {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    padding-top: 20px;
    color: black;
    font-size: 1.3rem;

}

.iconlogo .shoping_icon {
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 0.5rem;

}

.iconlogo .shoping_icon span {
    font-size: 1.2rem;
    color: #0aad0a;
    position: absolute;
    top: 0px;
    right: 5px
}

.iconlogo a li {
    color: black;
    transition: 1s all;
}

.iconlogo a li:hover {
    color: #0aad0a;
}

.iconlogo a li:hover span {
    color: white;
}

.first_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.slid_section {
    width: 45%;

}

.imges_first {
    background-color: white;
    width: 60%;
    padding: 2rem;
    margin: auto;
}

.imges_first img {
    width: 100%;
    transition: 1s all;
}

.imges_first img:hover {
    transform: scale(0.8);
}



#section_detalis {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imge_detal {
    width: 30%;
    background-color: white;
    position: relative;
    margin: 50px;

}

.imge_detal img {
    width: 100%;
    padding: 1rem;
    transition: 2s all;
}

.imge_detal img:hover {
    transform: scale(0.7);
}


.count_detalis {
    width: 70%;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}

.count_detalis h4 {
    margin: 1rem 0;
}

.count_detalis p {
    margin: 1.5rem 0;
}

.count_detalis span {
    font-size: 0.8rem;
}






#hom {

    background-image: url(../imges/imgs/back_ground.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.laya-3 {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}


.intro-t h1 {
    font-size: 4.5rem;
}

.intro-t h2::after {
    content: " |";
    animation-name: text-title;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

/*Hello to our website */

@keyframes text-title {

    1% {
        content: "|";
    }

    3% {
        content: "H |";
    }

    6% {
        content: "HE|";
    }

    9% {
        content: "HEL |";
    }

    12% {
        content: "HELL |";
    }

    15% {
        content: "HELLO |";
    }

    18% {
        content: "HELLO T |";
    }

    21% {
        content: "HELLO TO |";
    }

    24% {
        content: "HELLO TO O|";
    }

    26% {
        content: "HELLO TO OU |";
    }

    28% {
        content: "CHELLO TO OUR |";
    }

    30% {
        content: "HELLO TO OUR W |";
    }

    33% {
        content: "HELLO TO OUR WE |";
    }

    36% {
        content: "HELLO TO OUR WEB |";
    }

    39% {
        content: "HELLO TO OUR WEBS|";
    }

    42% {
        content: "HELLO TO OUR WEBSI |";
    }

    45% {
        content: "HELLO TO OUR WEBSIT|";
    }

    48% {
        content: "HELLO TO OUR WEBSITE |";
    }

    51% {
        content: "HELLO TO OUR WEBSIT |";
    }

    54% {
        content: "HELLO TO OUR WEBSI|";
    }

    56% {
        content: "HELLO TO OUR WEBS |";
    }

    59% {
        content: "HELLO TO OUR WEB |";
    }

    61% {
        content: "HELLO TO OUR WE |";
    }

    64% {
        content: "HELLO TO OUR W |";
    }

    67% {
        content: "HELLO TO OUR  |";
    }

    70% {
        content: "HELLO TO OU |";
    }

    75% {
        content: "HELLO TO O |";
    }

    80% {
        content: "HELLO TO  |";
    }

    84% {
        content: "HELLO T |";
    }

    86% {
        content: "HELLO  |";
    }

    89% {
        content: "HELL |";
    }

    94% {
        content: "HEL|";
    }

    96% {
        content: "HE |";
    }

    99% {
        content: "H |";
    }

    100% {
        content: " |";
    }


}



.input_search{
    text-align: center;
     padding:2rem 0;
     margin-left:2rem;
     transform:translateY(-150%);
 }
 .input_search input{
    width:30%;
    padding:0.4rem 1rem;
    border-radius:15px;
    border-color:#6faa6f;
    margin:10px;
 position: relative;
 }
 
 .input_search i{
 font-size:20px;
 color: #0aad0a;
 position:absolute;

transform: translateX(-2.8rem);
top:48px;


 }


 #search_results{
    height:30%;
    overflow: hidden;
    overflow-Y:scroll;
    border-radius:20px;
    padding:1rem;
    position: absolute;
    z-index: 1px;
    margin-left:37%;
    margin-top:-15.8%;
    font-size: medium;
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(223,189,159,0.9);
    width:29%;
    cursor: pointer;
    display: none;
 
}

#search_results li{
padding:0.2rem 0;
 
}





/* ============================first_section================================ */

.first_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.slid_section {
    width: 50%;

}

.imges_first {
    background-color: white;
    width: 70%;
    padding: 2rem;
    margin: auto;
}

.imges_first img {
    width: 100%;
    transition: 1s all;
}

.imges_first img:hover {
    transform: scale(0.8);
}


/* ============second_section=================  */

.second_sction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-bottom: 55px;
}

.section_product {
    width: 15%;
    transition: 0.7s all;
    text-align: center;


}

.section_product .womensTcard {
    font-size: 1.4rem;
}

.section_product>span {
    color: #0aad0a;
    margin-bottom: 10px;
}

.add_card {

    border-radius: 10px;
    padding: 10px 0;
    background-color: #0aad0a;
    color: white;
    opacity: 0;
    transform: translateY(55px);
    transition: 1s all;

}

.section_product:hover .add_card {
    opacity: 1;
    transform: translateY(0);


}

.section_product:hover {
    border: 1px solid #0aad0a;
}

.second_sction img {
    width: 100%;
}

.section_product ul {

    display: flex;
    justify-content: space-between;
}

.section_product ul li {
    list-style: none;
    padding: 8px 2px;
}

.section_product ul li i {
    color: yellow;
}



.footer {
    height: 70px;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}


body {
    background-color: #eee;
}

.section_barnd {

    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.brands {
    background-color: white;
    width: 32%;
    border-radius: 10px;
    padding: 4rem 4rem;
    position: relative;
    transition: all 1s;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title_brands {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;

}

.slid_word {
    position: absolute;
    transform: translateX(10px);
    opacity: 0;

}

.slid_word span {
    font-size: 2rem;
    transition: all 0.2s;
    background-color: rgb(249, 209, 215);
    /*#0aad0a;*/
    border-radius: 10px;

}

.brands:hover .slid_word {
    top: 20px;
    left: 20px;
    transform: translateX(-20px);
    transform: translateY(-15px);
    opacity: 1;
    transition: 2s;
}

.title_brands img:hover{
    transform: scale(0.8);
    cursor: pointer;
}










.section_categories {

    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;

}

.categories {
    background-color: white;
    width: 32%;
    border-radius: 10px;
    padding: 2rem 2rem;
    position: relative;
    transition: all 1s;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title_categories img {
    width: 100%;
    transition: 1s all;
}

.title_categories img:hover {
    transform: scale(0.8);
    cursor: pointer;
}

.categories_slid {
    position: absolute;
    transform: translateX(10px);
    opacity: 0;

}

.categories_slid span {
    font-size: 2rem;
    transition: all 0.2s;
    background-color: rgb(249, 209, 215);
    /*#0aad0a;*/
    border-radius: 10px;
}

.categories:hover .categories_slid {
    top: 20px;
    left: 20px;
    transform: translateX(-20px);
    transform: translateY(-15px);
    opacity: 1;
    transition: 2s;
}
